main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav_buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.products {
    display: flex;
    flex-direction: column;
}
.products h2 {
    font-family: var(--logo-font);
    text-align: center;
    font-weight: 600;
    color: var(--highlight-color);
    font-size: 2rem;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.products ul {
    display: flex;
    flex-direction: column;
    margin: 0.5rem auto;
    gap: 0.5rem;
    flex-wrap: wrap;

}

.products ul li {
    list-style-type: none;
    background-color: var(--bg-box-color);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    max-width: 373px;
}
.products ul li img {
    max-height: 238px;
    max-width: 100%;
}
#dish_name {
    font-family: var(--logo-font);
    text-transform: uppercase;
    color: var(--highlight-text-color);
    font-weight: 700;
    font-size: 1.2rem;
    text-shadow: 
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.button_product_container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
@media screen and (min-width: 786px) {
    .products ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        margin: 0.5rem 10vw;
        align-items: center;
    }
    .products ul li {
        justify-content: space-between;
    }

}
@media screen and (max-width: 376px) {
    .nav_buttons {
        gap: 0.4rem;
    }
}